<ion-header [translucent]="true">
  <ion-toolbar class="mytoolbar">
    <ion-title>
      تسجيل الدخول
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-form">
    
    <ion-item lines="full" id="usernameinput">
      <ion-input color="light"
        placeholder="أدخل اسم المستخدم"
        type="text"
        name="username"
        id="user_name"
        [(ngModel)]="username"
        required="true">
      </ion-input>
    </ion-item>
    <ion-item lines="full" id="passwordinpu">
      <ion-input color="light"
      placeholder="أدخل كلمة السر"
      type="password"
      name="password"
      id="user_password"
      [(ngModel)]="password"
      required="true">
      </ion-input>
    </ion-item>
    <ion-text id="error_message">{{errorMessage}}</ion-text>
    <ion-button type="submit" id="subButton" (click)="login()">تسجيل الدخول</ion-button>  
  </div>
</ion-content>
